.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 80%;
  }
  .create-new-toggle {
    justify-items: center;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  .create-save {
    margin-left: 5px;
  }
  .create-cancel {
    margin-left: 5px;
  }